# User-specific files
.Ruserdata
.DS_Store
.Rhistory
.Rproj.user/

# R Environment Variables
.Renviron

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Ignore contents in the data directory
/data/*
!/data/.gitkeep

# Ignore contents in folder (may not want to ignore based on your project)
/figures/*

# Package build and check files
*-Ex.R
/*.tar.gz
/*.Rcheck/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Intermediate files for rendered docs
*.html
*.aux
*.pdf
!README.pdf
*_files
*.log
*.tex

# PositAI Gen AI in Rstudio and Positron
.positai